#
# This is the '.gitignore' file for the 'sfsv2' GitHub repository.
#
# A nice introduction to gitignoring can be found here: 'https://linuxize.com/post/gitignore-ignoring-files-in-git/' (accessed: 23rd July 2022)
#
# Note: If you accidentally commited the large files (i.e., above 100MB), your current push cannot be executed.
# quick fix: https://stackoverflow.com/questions/19573031/cant-push-to-github-because-of-large-file-which-i-already-deleted (accessed: 27th March 22)
# don't forget to locally save a backup of your work!
# 1. locally delete the large file(s)
# 2. commit: $ git add .; $ git commit -m "new commit"
# 3. soft reset: $ git reset --soft HEAD~3 (with 3 instead being the number of erroneous commits you already pushed)
# 4. squash (i.e., recommit): git commit -m "squash commit"
# 5. push: git push origin master
#
simdata__erbkg_edrift_200__eLife_us_1000_g1_0_18__g2_76_6725.npy
simdata__wimps_edrift_200__eLife_us_1000_g1_0_18__g2_76_6725.npy
Detector_Xe100t_baseline.hh
/detectors
/spectra
/plots
#/signatures
primakoff_rosen_approximation_nunubetabeta.pdf
convert_rn222_rootfile_to_csv.py
background_222Rncomp_1keV.root
write_radiogenic_neutrons_csv.py
2021_04_WIMPinG3.pdf
2021_07_Neutrons_UZH.pdf
julia__darwin_radiogenic_neutron_background__fv_dependance.png
julia__darwin_radiogenic_neutron_background__32t_fv.png
julia__darwin_radiogenic_neutron_background__34t_fv.png
julia__darwin_radiogenic_neutron_background__baseline.png
julia__darwin_radiogenic_neutron_background__better_ptfe.png
julia__darwin_radiogenic_neutron_background__better_cryostat.png
CEvNS_hep_DiffRate.txt
CEvNS_8b_DiffRate.txt
CEvNS_DSNB_DiffRate.txt
CEvNS_atm_DiffRate.txt
CEvNS_E.txt
generate_cevns_csv_from_txt.py
nr_pep_deprecated.csv
nr_f17_deprecated.csv
nr_n13_deprecated.csv
nr_o15_deprecated.csv
nr_hep_deprecated.csv
nr_be7_384_deprecated.csv
nr_be7_861_deprecated.csv
nr_b8_deprecated.csv
nr_pp_deprecated.csv
nr_dsnb_deprecated.csv
nr_atm_deprecated.csv
example__signature__darwin_baseline_detector__er_background_high_stat.npy
example__signature__darwin_baseline_detector__nr_background_high_stat.npy
